@(formData: Form[models.ActorEntity], title: String, id: Long)
@import helper._

@views.html.main("Actor Form") {

    <!-- Content Header (Page header) -->
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <section class="content-header">
                    <h1>@title</h1>
                    <ol class="breadcrumb">
                        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Actors</li>
                    </ol>
                </section>
            </div>
        </div>
    </div>
        <!-- Content Header (Page header) -->

    <div class="box box-primary">
        <div class="box-body">
            <div class="row">

                <div class="col-md-12">
                    <div class="box box-primary">
                            <!-- form start -->
                        @form(CSRF(controllers.routes.ActorController.save(id)), 'enctype -> "multipart/form-data", 'id -> "save-form", 'name -> "save-form") {
                            <div class="box-body">

                                @if(flash.containsKey("error")) {
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <h4><i class="icon fa fa-check"></i> Alert!</h4>
                                        @flash.get("error")
                                    </div>
                                }

                                <input id="actorId" type="hidden" name="actorId" class="form-control" value="@formData.field("actorId").value">
                                    <!-- .form-group -->
                                <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    <input name="firstName" class="form-control" placeholder="Enter first name" value="@formData.field("firstName").value">
                                </div>
                                    <!-- /.form-group -->

                                    <!-- .form-group -->
                                <div class="form-group">
                                    <label for="last_name">Last Name</label>
                                    <input name="lastName" class="form-control" placeholder="Enter last name" value="@formData.field("lastName").value">
                                </div>
                                    <!-- /.form-group -->
                                    <!-- .form-group -->

                                <div class="form-group">
                                    <label for="last_name">Images</label>
                                    <input type="file" name="images" id="id-actor-images" value="@formData.field("images").value">
                                </div>
                                    <!-- /.form-group -->
									
                            </div>
                                <!-- /.box-body -->

                            <div class="box-footer">
                                <a href="@controllers.routes.ActorController.index()", class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-info pull-right">Submit</button>
                            </div>
                        }
                            <!-- form end -->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
		 $(document).ready(function () {
			var photoActor = $('#id-actor-images');
			
			function readURLImage(input, num) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = function (e) {
						console.log(e.target);
						console.log(e.target.result);
						$("#img_image"+num).attr('src', e.target.result);
					};
					reader.readAsDataURL(input.files[0]);
				}
			}

			$('#id-actor-images').change(function(){
				readURLImage(this, 1);
			});

			var validator = $("#save-form").validate({
                rules: {
                    firstName: "required",
					lastName: "required",
					images: "required"
				},
                messages: {
                    firstName: "firstName IsRequired",
					lastName: "lastName IsRequired",
					images: "images IsRequired"
                },
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);  // ng-multiple-bs-select
                    }
                }
			});
			
            photoActor.change(function (e) {
                photoActor.removeData('imageWidth');
                var file1, img1, reader1;
                file1 = this.files[0];
                if (file1.type.match(/image\/.*/)) {
                    img1 = new Image();
                    reader1 = new FileReader();
                    img1.onload = function () {
                        var widthImage1 = this.width;
                        var heightImage1 = this.height;
                        photoActor.data('imageWidth', widthImage1);
                        photoActor.data('imageHeight', heightImage1);
                        validator.element(photoActor);
                    };
                    img1.onerror = function () {
                        $.notify("not a valid file: " + file1.type, "error");
                    };
                    img1.src = _URL1.createObjectURL(file1);
                    reader1.readAsDataURL(file1);
                } else {
                    validator.element(photoActor);
                }
            });

		 });
    </script>
}
