@(params: List[ActorEntity])
@import helper._

@views.html.main("Actors Lists") {

    <!-- MODAL FORM FOR DELETE PROCESS -->
    <div id="modal-form-delete" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-wide">
            <div class="modal-content">
                <form id="delete-form" method="post" action="">
                    @CSRF.formField
                    <div class="modal-header">
                        <button type="button" class="close close-button" data-dismiss="modal"><span aria-hidden="true">
                            ×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Delete an Actor</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure to delete this data ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default close-button" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Delete">
                    </div>
                </form>

            </div>
        </div>
    </div>
        <!-- ./ END MODAL FORM FOR DELETE PROCESS -->

        <!-- Content Header (Page header) -->
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <section class="content-header">
                    <h1>Actors Lists</h1>
                    <ol class="breadcrumb">
                        <li><a href=""><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Actors</li>
                    </ol>
                </section>
            </div>
        </div>
    </div>
    <!-- Content Header (Page header) -->

    <div class="box box-default">

        <div class="box-body">

            @if(flash.containsKey("error")) {
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i> Error!</h4>
                    @flash.get("error")
                </div>
            }else if(flash.containsKey("success")) {
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-check"></i> Horray!</h4>
                    @flash.get("success")
                </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">

                        <div class="box box-default">

                            <div class="box-header">
                                <h3 class="box-title">List of operation
                                </h3>
                                    <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <a href="@controllers.routes.ActorController.add()" data-toggle="tooltip" title="Add an actor" class="btn btn-info btn-sm">
                                        <i class="fa fa-plus"></i></a>
                                </div>
                                    <!-- /. tools -->
                            </div>

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">

                                            <table id="table"
                                            data-toggle="table"
                                            data-url="@controllers.routes.ActorController.dataList()"
                                            data-height="600"
                                            data-side-pagination="server"
                                            data-pagination="true"
                                            data-page-list="[5, 10, 20, 50, 100, 200]"
                                            data-search="true"
                                            data-sort-name="first_name"
                                            data-sort-order="asc">
                                                <thead>
                                                    <tr>
                                                        <th data-field="actor_id" data-sortable="true">Id</th>
                                                        <th data-field="first_name" data-sortable="true">First Name</th>
                                                        <th data-field="last_name" data-sortable="true">Last Name</th>
                                                        <th data-field="created_at" data-sortable="true">Create At</th>
                                                        <th data-field="updated_at" data-sortable="true">Update At</th>
                                                        <th data-field="action">Action</th>
                                                    </tr>
                                                </thead>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
            function dialogRemove(url) {
                $('#delete-form').attr('action', url);
                $('#modal-form-delete').modal('show');
            }
    </script>
}
